body {
    background-color: black; 
    color: black;
}

#ren-content {
    background-color: #d9d9d9;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}

.ren-cerulean{
    background-color: #4484CE;
    color: white;
}

.ren-post{
    border-style: solid;
    display: block;
    padding: 1em;
    border-radius: 0.5em;
    margin: 10px;
}

.ren-post-head{
    font-weight: bold;
}

.ren-inline-block{
    display:inline-block;
    border-style: solid;
    padding: 1em;
}

.ren-sidebar{
    position: fixed;
}
footer{
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    color: #d9d9d9;
}
/* color scheme
Cerulean: #4484CE
Aluminum: #D9D9D9
Light: #F9CF00
Tangerine: #F19F4D
*/