#postlist {
    color: white;
}

.panel {
    background-color: black !important;
    border-color: #5A6 !important;
}

.panel-footer{
    border-top-color: #5A6 !important;
    background-color: #5A6 !important;    
}

.time{
    font-size: 2em;
}