.panel-group {
    border-style: solid;
    border-color: #5A6 !important;
    border-width: thick;
    border-width: 1em .5em;
    background-color: #5A6;
}

.panel-default {
    border: none;
}

.panel-heading {
    background-color: #000 !important;
    border: none;
    padding-bottom: 1em
    
}

.panel-body {
    background-color: #222 ;
    /*border: solid;
    border-color: #999 #999 black black;
    border-top-width: thick;*/
    border: none;
}

.panel-link {
    color:#1C2 !important;
}

h4 {
    font-family: sans-serif !important;
}
